<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <input placeholder="'Add School" name="school" class="form-control mb-2" required>
        <input placeholder="Address" name="address" class="form-control mb-2" required>
        <input placeholder="City" name="city" class="form-control mb-2" required>
        <input placeholder="start" name="start" class="form-control mb-2" required>
        <input placeholder="end" name="end" class="form-control mb-2" required>
        <button type="submit">Add School</button>
    </form>
</body>
</html>